body {
    background-color: aquamarine;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    text-align: ;
}

form {
    text-align: center;
}

.gamedata {
    padding-top: 100px;
    font-size: x-large;
}

#rock {
    height: 200px;
    width: 200px;
    background-image: url(rock.webp);

}

#paper {
    height: 200px;
    width: 200px;
    background-image: url(paper.webp);
}

#scissors {
    height: 200px;
    width: 200px;
    background-image: url(scissors.webp);
}